{% load staticfiles i18n cms_tags sekizai_tags menu_tags %}
{% load cms_tags staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'css/planos.css' %}">

    <title>
        {% block title %}
            {% page_attribute "page_title" %} - {{ request.site.name }}
        {% endblock title %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- django CMS -->
    {% render_block "css" %}

    <!-- Aldryn -->
    {{ ALDRYN_SNAKE.render_head }}
</head>

<body>
    <!-- django CMS Toolbar -->
    {% cms_toolbar %}

<!-- django CMS Toolbar -->
    {% cms_toolbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'img/logo.png' %}" style="display: inline-block; float: left; width: 150px; margin-top: -50px" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 20px">
                    {% show_menu 0 0 100 100 %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block header %}
        {% placeholder header or %}
            <header class="intro-header" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <h1>{% page_attribute "page_title" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endplaceholder %}
    {% endblock %}

    <!-- Main Content -->
    <div class="container">
        {% block content %}

            <h1 class="demo-title">Nossos Planos</h1>

            <div class="pricing-table">
<div class="pricing-option">
<i class="material-icons">important_devices</i>
<h1>Grupo VIP</h1>
<hr />
<p>Análises de Bitcoin e Altcoins. </p>
<p>Recomendações de compra e venda.</p>
<p>Suporte, em fórum, com a presença de um analista.</p>
<hr />
<div class="price">
    <div class="front">
        <span class="price">250 <b>BRL/mês</b></span>
    </div>
    <div class="back">
        <a href="#" class="button">Junte-se Agora !</a>
    </div>
</div>
</div>

<div class="pricing-option">
<i class="material-icons">perm_identity</i>
<h1>Consultoria</h1>
<hr />
<p>Consultoria Individualizada</p>
<p>Gestão de carteira e risco</p>
<p>Recomendações de compra e venda de acordo com o perfil do cliente.</p>        <p>Atendimento direto com nosso Analista.</p>
<hr />
<div class="price">
    <div class="front">
        <span class="price">500 <b>BRL/mês</b></span>
    </div>
    <div class="back">
        <a href="#" class="button">Junte-se Agora !</a>
    </div>
</div>
</div>


</div>

        {% endblock %}

    </div>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

    <!-- django CMS -->
    {% render_block "js" %}

    <!-- Aldryn -->
    {{ ALDRYN_SNAKE.render_tail }}

</body>
</html>